<% courses = Course.published.name_order.to_a %>

<% if current_user && current_user.role_lecturer? %>
	<div id="toolbox">
		<%= link_to "My Courses", mine_courses_path, :class => "button" %>
	</div>
<% end %>

<h1>Available Courses</h1>

<% if courses.empty? %>
	<p>
		No courses currently available.
	</p>
<% else %>
	<ul>
		<% courses.each do |course| %>
			<li><%= link_to course.public_identifier, course %></li>
		<% end %>
	</ul>
<% end %>

