/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* **** RESETS **** */
h1, div, section, body, html, header, footer, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
	display: block;
	bordeR: none;
}

/* **** BASIC STRUCTURE **** */

p {
	padding-bottom: 15px;
}

html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

h1 {
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

h2 {
	font-size: 20px;
	padding-top: 20px;
}

body {
	border: none;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #cccccc;

	font-family: sans-serif;	
}


header {
	margin: 0px;
	padding: 0px;
}

header h1 {
}

header h1 a {
	color: inherit;
	text-decoration: none;
}

header nav ul {
	display: block;
	border-top: 1px solid black;
	border-bottom: 1px solid #cccccc;
	background-color: white;
	padding: 0px;
	margin: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

header nav ul:after {
	content: "";
	display: block;
	clear: both;
	visibility: none;
}

header nav ul li {
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
}

header nav ul li a {
	display: block;
	text-decoration: none;
	padding: 10px;
}
header nav ul li a.selected {
	background-color: #aaaaaa;
}

header nav ul li a:hover {
	background-color: #aaaaaa;
}

#wrapper:before {
	content: "";
	display: block;
	height: 1px;
}

#wrapper {
	position: relative;
	margin: 0px;
	padding: 0px 30px 30px 30px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #dddddd;

}

#notifications p.notice {
	background-color: #ccffcc;
	border: 1px solid #00ff00;
}

#notifications p.alert {
	background-color: #ffcccc;
	border: 1px solid #ff0000;
}

#notifications p {
	border-radius: 5px;
	padding: 8px;
	margin-top: 10px;
}

#toolbox:before {
	content: "Toolbox";
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
}

#toolbox {
	float: right;
	border-radius: 10px;
	/*
	position: absolute;
	top: 15px;
	right: 50px;
	*/
	margin-top: 15px;
	width: 250px;
	border: 1px solid black;	
	padding: 10px;
	background-color: #ccccaa;
}

.lecture-notes {
	padding-top: 20px;
}
